USE [master]
GO
/****** Object:  Database [PersonRegDB]    Script Date: 2022-11-24 21:47:48 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'PersonRegDB')
BEGIN
CREATE DATABASE [PersonRegDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PersonRegDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PersonRegDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PersonRegDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PersonRegDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PersonRegDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PersonRegDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2022-11-24 21:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__EFMigrationsHistory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Address]    Script Date: 2022-11-24 21:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Address]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Address](
	[Id] [uniqueidentifier] NOT NULL,
	[City] [nvarchar](30) NULL,
	[Street] [nvarchar](30) NULL,
	[HouseNumber] [int] NOT NULL,
	[ApartmentNumber] [int] NOT NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 2022-11-24 21:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserInfo]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UserInfo](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](12) NULL,
	[LastName] [nvarchar](12) NULL,
	[PersonalNumber] [nvarchar](11) NULL,
	[PhoneNumber] [nvarchar](14) NULL,
	[Email] [nvarchar](30) NULL,
	[ProfileImage] [varbinary](max) NULL,
	[AddressId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2022-11-24 21:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Username] [nvarchar](20) NOT NULL,
	[Password] [varbinary](max) NOT NULL,
	[PasswordSalt] [varbinary](max) NOT NULL,
	[Role] [nvarchar](5) NOT NULL,
	[UserInfoId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220721155502_CreatDb', N'6.0.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220723200712_ChangeTableName', N'6.0.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220725145719_UpdateDB', N'6.0.7')
GO
INSERT [dbo].[Address] ([Id], [City], [Street], [HouseNumber], [ApartmentNumber]) VALUES (N'ccfcaa2c-1bf5-4905-3143-08dace51a09b', N'Kaunas', N'Vilniaus g.', 76, 25)
INSERT [dbo].[Address] ([Id], [City], [Street], [HouseNumber], [ApartmentNumber]) VALUES (N'41efede3-f0f2-44a7-a2df-08dace527bc5', N'Vilnius', N'Kauno g.', 98, 12)
GO
INSERT [dbo].[Users] ([Id], [Username], [Password], [PasswordSalt], [Role], [UserInfoId]) VALUES (N'beb1e1ad-5026-4474-a9d8-20822e573b86', N'username', 0x6B9D455AE5F14F351686B65CC3D0267B1AC95D0DB31470D90A2411E5A2A7E7B2DB60005A09AA5C5A94D0EB7AB69751FDC02A0B2F0F3E810768DD0B3517DA3382, 0x8D2591A20238CCA7D7787AF15A083AEAAD2601FED4809762CEDDFFDEE3557EB458CE8E0856141876D1D9CDCAC9CDE682334BAB854C5CF3091DE3E448D21E512FACE2FAFA508E9A7400CACF27D8EC98F4F7135A74A0BFF7AE30D329756635CE5D7F252DC6314E7AFBD371492FBE3A9BA367E2584A3C54D12C0B1AD1E94FC96273, N'User', N'56653fab-1f11-4da7-0dfc-08dace51a098')
INSERT [dbo].[Users] ([Id], [Username], [Password], [PasswordSalt], [Role], [UserInfoId]) VALUES (N'1594985a-cc08-408f-afe1-29d88bb05388', N'Vardenis', 0x50F85B66789DD6491C65570A6D226F41931433F377C3FCE8F37D970F40815CC0D9A7A1A699A5508121C797EC7D87DBDB45064D6E060034E4C48B3424ACB1B7D3, 0xB6B11A1239436C57EE77430BB20A6D38C06DF16A96A9B46C542036305DCF1AEF370FA4A8755508103D24EA639665B8B2CD805EF9BE859A55080F947E65DB34EAB8133E0AE86B31E0A33608BA62060DCBC6E7E6BA07EDA3E138986DBBC251989CA130D5F3174CAC9C975B1FA3A84BBDCBE5ECA41E3CFFFAC11134C049E5614757, N'User', N'e2b350be-d2ff-4757-b892-08dace527bc1')
INSERT [dbo].[Users] ([Id], [Username], [Password], [PasswordSalt], [Role], [UserInfoId]) VALUES (N'f8e184db-a19c-4f7c-8955-dd8ab9ab3906', N'Admin', 0x398608892E7E22C9D9F74B8DA010B1A600397BCCFE76E64C50C824086651A8ED1072A46EF3F6BC499FF31D8A6E5CE0862A4CA9A63900A0B7D417BEC4CF308C08, 0xA792704868D6CC2759DE8DB2E135CCB419D7079EAF11E5C93DE38B46837534462AA7A3BE45E021BDE265B1721D2991527341035A91EFCE7E7F12FA6BD0F4D04A4DB1263ECCDED172610A347D2F5B56E6C239F0F50FA719E22375BC17FAC31FBAEC269BF7DE466BDB441E15332C7E2829B11DE8E7A8D3F58EEAE0075F4B632894, N'Admin', NULL)
GO
/****** Object:  Index [IX_UserInfo_AddressId]    Script Date: 2022-11-24 21:47:49 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[UserInfo]') AND name = N'IX_UserInfo_AddressId')
CREATE NONCLUSTERED INDEX [IX_UserInfo_AddressId] ON [dbo].[UserInfo]
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_UserInfoId]    Script Date: 2022-11-24 21:47:49 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND name = N'IX_Users_UserInfoId')
CREATE NONCLUSTERED INDEX [IX_Users_UserInfoId] ON [dbo].[Users]
(
	[UserInfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Address__HouseNu__3E52440B]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Address] ADD  CONSTRAINT [DF__Address__HouseNu__3E52440B]  DEFAULT ((0)) FOR [HouseNumber]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Address__Apartme__3F466844]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Address] ADD  CONSTRAINT [DF__Address__Apartme__3F466844]  DEFAULT ((0)) FOR [ApartmentNumber]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserInfo_Address_AddressId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserInfo]'))
ALTER TABLE [dbo].[UserInfo]  WITH CHECK ADD  CONSTRAINT [FK_UserInfo_Address_AddressId] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Address] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserInfo_Address_AddressId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserInfo]'))
ALTER TABLE [dbo].[UserInfo] CHECK CONSTRAINT [FK_UserInfo_Address_AddressId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Users_UserInfo_UserInfoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Users]'))
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserInfo_UserInfoId] FOREIGN KEY([UserInfoId])
REFERENCES [dbo].[UserInfo] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Users_UserInfo_UserInfoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Users]'))
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UserInfo_UserInfoId]
GO
USE [master]
GO
